language: go
go:
- 1.7.4
services:
- docker
before_install:
# FIXME: Is there a better way to do this?
- "[ -d zschema ] || git clone https://github.com/zmap/zschema"
- go get ./...
- go get -t ./...
# needed by zschema
- pip install --user python-dateutil
- ./start_mysql.sh
- docker ps -a
# JMESPath is used to do context-specific validation of results
- git clone git://github.com/jmespath/jp && pushd jp && go build && popd && jp/jp --help
- mkdir -p $GOPATH/src/github.com/zmap
- ln -s $TRAVIS_BUILD_DIR $GOPATH/src/github.com/zmap || true
- pushd cmd/zgrab2 && go build && popd
script:
- ./integration_tests.sh
after_script:
- ./cleanup_mysql.sh
# notifications:
#   email:
#   - dev@censys.io
#   slack:
#     secure: noP0AfD8G8QXJKJ5MYYieUmZnhQWI8HMsrxZdAdeXt+rT5phKcuG0zTdF2p66I7R5zTygx7Kp3KhjAPROJ7Eh1dIUW2wqYHpezfKAM2lSZkmkDosMDGp0CzWzub0G+KGFSrW3bw3gjBaOUhOpn8K2NKYVsmne4odF3t1Ap/J/x+pbCJjhxbn3rP34miQhq2E/wnmbF59eDiHYJqIqagUfbe7fhxMfU/FI7H//NquLU0dN6EfTCxt4M8S49VkrHMjzApGnxwntjT0lt9ZI4s0AxZ9RUWM4cEnVOoEgvXbOw6Vz+nDqjmLyLR5iIfSu05pUy7YB/3yTl19XI7xjEqcbaygEXmFW1XOkQjuYxYjtUgRK2t6DYd8PwRqCmIcRMErIkbOqd0Q0Afc3zQna9aX4P+iIHndZz9mmG9qW4nWFPjPhJXClLqwyWAXxPulP70l+u3+EYhm75VUAm/jZeKFQ9uLbNTI1b2FcXV4BXvbBcatSCyNmBuLwPwjSFNX7yteo88DGZav4RtlPgKAjMHX+HqQpsiglNjYbFfA/kfh6ygkYgu7kWB7fGJvjd5CoDlWjvPWYjdQ3Wcv2qatlV050MIfjd4AcxgSxivdv24O7SOKxV+t3OzK5zVO0tFf5IG5jZFwJOsZ/ylvm76xunl5jfofIKlH0x7mzUgVlUkCi4Q=
