name: ZGrab2 build action
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Check out source
        uses: actions/checkout@v2

      - name: Build
        run: |
          go get -t ./...
          make
