name: Test
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  go-test:
    name: Go Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v4

      - name: Read go version
        id: go_version
        run: |
          # Read the variable from the file
          GO_VERSION=$(grep '^go ' go.mod | awk '{print $2}')
          # Set the variable as an output
          echo "GO_VERSION=$GO_VERSION" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go_version.outputs.GO_VERSION }}

      - name: Build
        run: |
          go get -t ./...
          make

      - name: Test
        run: |
          make test

  integration-test:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Check out source
        uses: actions/checkout@v4

      - name: Read go version
        id: go_version
        run: |
          # Read the variable from the file
          GO_VERSION=$(grep '^go ' go.mod | awk '{print $2}')
          # Set the variable as an output
          echo "GO_VERSION=$GO_VERSION" >> $GITHUB_OUTPUT

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ steps.go_version.outputs.GO_VERSION }}

      - name: Install dependencies
        run: |
          set -e
          sudo apt update
          # Install latest Python
          sudo apt install -y python3 jp python3-pip
          python3 -m venv venv
          source venv/bin/activate
          # Install Python dependencies
          pip install zschema
          pip install -r requirements.txt

      - name: Run tests
        run: |
          source venv/bin/activate
          make integration-test
