name: Lint

on: [push, pull_request]

jobs:
  py-black:
    name: Python Formatter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
  go-fmt:
    name: Go Formatter
    runs-on: ubuntu-latest
    if: false # Pending activation
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Run go fmt
        run: go fmt ./...